
.shop-container{
    background-color: lightblue;
    height:100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.card{
    background-color: skyblue;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
}
.card h3{
    border-top: 5px solid black;
    padding: 15px;
}
button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 15px;

}
button:hover{
    background-color: white;
    color: black;

}